{% extends "layouts/base.html" %}

{% block title %}Upload Dataset{% endblock %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="font-weight: bold;">Upload Dataset</h4>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" id="uploadForm" action="{% url 'upload_dataset' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="datasetFile">Select a dataset file</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="datasetFile" name="dataset_file" required onchange="updateFileName(this)">
                <label class="custom-file-label" for="datasetFile">Choose file</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
          <div id="messageContainer" style="margin-top: 20px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('uploadForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission
    var formData = new FormData(this);

    fetch(this.action, {
      method: 'POST',
      body: formData,
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok: ' + response.statusText);
      }
      return response.json();
    })
    .then(data => {
      displayMessage(data.message, data.success);
    })
    .catch(error => {
      console.error('Error:', error);
      displayMessage('Failed to submit form: ' + error.message, false);
    });
});

function updateFileName(input) {
    var fileName = input.files[0].name;
    var label = input.nextElementSibling;
    label.innerHTML = fileName;
}

function displayMessage(message, isSuccess) {
    var messageContainer = document.getElementById('messageContainer');
    messageContainer.innerHTML = `<div class="alert ${isSuccess ? 'alert-success' : 'alert-danger'}">${message}</div>`;
    messageContainer.style.display = 'block';
}
</script>

{% endblock content %}
